<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whattoeattoday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".menu.fragment.SearchResult" />
        <activity
            android:name=".menu.fragment.CategoryRestaurantInformation"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".menu.fragment.CategoryItem"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".menu.fragment.Restaurant"
            android:theme="@style/noActionBar" />
        <activity android:name=".menu.fragment.RecommandResult" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectUniv"
            android:theme="@style/noActionBar" />


        <meta-data android:name="com.kakao.sdk.AppKey" android:value="df2739a98dc977c1e862602548c72765"/>

    </application>

</manifest>